# root ignores
node_modules/
dist/
.vite/
coverage/
.eslintcache
.DS_Store
*.log

# env files
.env
.env.*
!.env.example

# frontend build
/build
/.parcel-cache

# VS Code
.vscode/

# backend ignores
backend/node_modules/
backend/dist/
backend/coverage/
backend/.env
backend/.env.*
